*{
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 100%;
}
.header{
	background-color: #006600;
	width: 100%;
	height: 50px;
	min-width:1400px;
}
.header .left_header{
	height: 50px;
	float: left;
	margin-left: 30px;
}
.header .right_header{
	height: 49px;
	float: right;
	margin-right: 30px;
}
.middle{
	width: 1300px;
	height: 900px;
	margin: auto;
}
.middle .left_box{
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	width: 250px;
	height: 800px;
	background: url(../img/menu.png);
	border: none;
}
.left_box .head_portrait{
	border: 1px black solid;
	width: 120px;
	height: 120px;
	margin: 50px auto 20px auto;
	background: white;
}
.head_portrait img{
	width: 120px;
	height: 120px;
}
.left_box .menu{
	width: 200px;
	height: 500px;
	margin: auto;
    /*background-color: white;*/
    text-align: center;
}
.left_box .menu p{
	color: #488f53;
	margin-bottom: 50px;
}
.left_box .menu a{
	margin-top: 10px;
	text-decoration: none;
	display: block;
	font-family: "FangSong";
	font-size: 20px;
	color: #488f53;
}
.middle .right_box{
	float: right;
	margin-top: 50px;
	margin-right: 50px;
	width: 900px;
	height: 800px;
}
.middle .right_box h1{
	color: #488f53;
	text-align: center;
	letter-spacing: 6px;
}
.right_box .name_box{
	/*margin-left: 50px;*/
	width: 300px;
	height: 120px;
	float: left;
}
.right_box .name_box input{
	padding: 5px;
	margin-left: 6px;
	border-radius:5px ;
	border: #BEBEBE solid 2px;
	width: 240px;
}
.right_box .des_box{
	/*margin-left: 50px;*/
	float: left; 
	width: 700px;
	height: 170px;	
}
.des_box .explain_Input{
	padding: 5px;
	margin-left: 6px;
	border-radius:5px ;
	border: #BEBEBE solid 2px;
	resize: none;
	outline: none;
	width: 640px ;
	height: 80px	
}
.right_box .img_box{
	/*margin-left: 50px;*/
	float: left;
	width: 700px;
	height: 200px;
}
.img_box .pic_box{
	width: 250px; 
	height: 140px;
	float: left;
	padding: 5px;
	margin-left: 6px;
	border-radius:5px ;
	border: #BEBEBE solid 2px;
}
.pic_box .pic{
	width: 100%;
	height: 100%;
	border: none;
}
.img_box .text_box{
	float: right; 
	margin-right: 90px;
	margin-top: 0px;
}
.text_box .pic_up{
	width: 130px;
}
h3{
	color: #488f53;
}
.text_box .completeButton{
	position: absolute;
	border-radius: 5px;
	top: 455px;
	left: 550px;
	background-image: url(../img/finsh.png);
	background-size: 100%;
	width: 80px;
	height: 29px;
	background:;
	border: none;
}
.right_box .finsh{
	width: 80px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background:#488f53;
	color: white;
	font-size: 22px;
	font-weight: 700;
	margin-left: 305px;
	margin-top: 20px;
}
.text_box li{
	font-size: 13px;
	color: #488f53;
	line-height: 22px;
}
.nav{
	width: 100%; 
	height: 50px;
	margin-bottom:0;
	background-color: #006600;
}
